@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: #141414;
    font-weight: 600;
}

@media (max-width: 768px){
    ul{
        flex-direction: column;
    }
}